@charset "UTF-8";
/* Document de style CSS */
/*-----Variables-----*/
@-webkit-keyframes apparaitre {
  /*-----Keyframes-----*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparaitre {
  /*-----Keyframes-----*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reduc-div {
  0% {
    width: 21.5em;
  }
  100% {
    width: 17.5em;
  }
}

@keyframes reduc-div {
  0% {
    width: 21.5em;
  }
  100% {
    width: 17.5em;
  }
}

@-webkit-keyframes coche {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes coche {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes coche-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes coche-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes coeur {
  0% {
    color: white;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes coeur {
  0% {
    color: white;
  }
  100% {
    color: #FF79DA;
  }
}

/* ---------- Principaux styles de la page ---------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: black;
}

body h1 {
  font-family: "Shrikhand";
}

header {
  /*-----Header-----*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header i {
  color: black;
  font-size: 1.5em;
  padding-top: 1.5em;
  padding-left: 1em;
  margin-right: 2.5em;
}

.photo {
  /*-----Section principale de la page (Main)-----*/
  position: relative;
  overflow: hidden;
  padding-top: 65%;
}

.photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.menu {
  /*-----partie principale (section) : menu-----*/
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -4em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.menu .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .restaurant h2 {
  font-family: "Shrikhand";
  font-size: 1.8em;
  margin-left: -0.7em;
}

.menu .restaurant .checkbox-coeur {
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  z-index: 1;
}

.menu .restaurant .checkbox-coeur i {
  font-size: 1.5em;
}

.menu .restaurant .checkbox-coeur .remplissage1 {
  /*----Div de remplissage (sans l'état ":checked")-----*/
  -webkit-transition: all 1000ms linear 0ms;
  transition: all 1000ms linear 0ms;
  position: absolute;
  background-color: #FF79DA;
  height: 0em;
  width: 0em;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.5em;
  right: 0.5em;
  border-top-left-radius: 55%;
  border-top-right-radius: 30%;
}

.menu .restaurant .checkbox-coeur .remplissage2 {
  /*----Div de remplissage (sans l'état ":checked")-----*/
  -webkit-transition: all 1000ms linear 0ms;
  transition: all 1000ms linear 0ms;
  position: absolute;
  background-color: #FF79DA;
  height: 0em;
  width: 0em;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0.5em;
  left: 0.5em;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"] {
  /*-----Animation icone coeur-----*/
  display: none;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"]:checked + label .remplissage1 {
  height: 0.8em;
  width: 0.5em;
  z-index: -1;
  bottom: 0.15em;
  right: 0.39em;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"]:checked + label .remplissage2 {
  height: 0.72em;
  width: 0.5em;
  z-index: -1;
  bottom: 0.2em;
  left: 0.4em;
}

.menu h3 {
  text-transform: uppercase;
  font-weight: normal;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1em;
  font-size: 1em;
  color: #4B4B4B;
}

.menu h3 span {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 0.2em;
}

.menu .coche {
  /*-----Coche (pour animation)-----*/
  display: none;
  margin-left: -4em;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 1em;
  width: 4em;
  height: 4.5em;
}

.menu .coche i {
  margin: auto;
  color: white;
  font-size: 2em;
}

.menu .entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .entrees label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .entrees [id="coche-infos1-entrees"],
.menu .entrees [id="coche-infos2-entrees"],
.menu .entrees [id="coche-infos3-entrees"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .coche,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .coche,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .coche i,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .coche i,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .compo-prix,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .compo-prix,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .entrees-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .entrees-infos-coche .infos1 {
  /*-----Apparition des différantes entrées décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 500ms both;
          animation: apparaitre 500ms 500ms both;
}

.menu .entrees-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 700ms both;
          animation: apparaitre 500ms 700ms both;
}

.menu .entrees-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 900ms both;
          animation: apparaitre 500ms 900ms both;
}

.menu .entrees-infos-coche .infos1, .menu .entrees-infos-coche .infos2, .menu .entrees-infos-coche .infos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .entrees-infos-coche .infos1 h4, .menu .entrees-infos-coche .infos2 h4, .menu .entrees-infos-coche .infos3 h4 {
  margin: 0;
  padding: 0.7em;
}

.menu .entrees-infos-coche .infos1 .compo-prix, .menu .entrees-infos-coche .infos2 .compo-prix, .menu .entrees-infos-coche .infos3 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .entrees-infos-coche .infos1 .compo-prix p:first-child, .menu .entrees-infos-coche .infos2 .compo-prix p:first-child, .menu .entrees-infos-coche .infos3 .compo-prix p:first-child {
  font-size: 0.87em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
}

.menu .entrees-infos-coche .infos1 .compo-prix p, .menu .entrees-infos-coche .infos2 .compo-prix p, .menu .entrees-infos-coche .infos3 .compo-prix p {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .entrees-infos-coche .infos1 .compo-prix p:last-child, .menu .entrees-infos-coche .infos2 .compo-prix p:last-child, .menu .entrees-infos-coche .infos3 .compo-prix p:last-child {
  font-weight: bold;
}

.menu .plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .plats label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .plats [id="coche-infos1-plats"],
.menu .plats [id="coche-infos2-plats"],
.menu .plats [id="coche-infos3-plats"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .plats [id="coche-infos1-plats"]:checked + label .coche,
.menu .plats [id="coche-infos2-plats"]:checked + label .coche,
.menu .plats [id="coche-infos3-plats"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .plats [id="coche-infos1-plats"]:checked + label .coche i,
.menu .plats [id="coche-infos2-plats"]:checked + label .coche i,
.menu .plats [id="coche-infos3-plats"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .plats [id="coche-infos1-plats"]:checked + label .compo-prix,
.menu .plats [id="coche-infos2-plats"]:checked + label .compo-prix,
.menu .plats [id="coche-infos3-plats"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .plats-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .plats-infos-coche .infos1 {
  /*-----Apparition des différants plats décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 1100ms both;
          animation: apparaitre 500ms 1100ms both;
}

.menu .plats-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 1300ms both;
          animation: apparaitre 500ms 1300ms both;
}

.menu .plats-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 1500ms both;
          animation: apparaitre 500ms 1500ms both;
}

.menu .plats-infos-coche .infos1, .menu .plats-infos-coche .infos2, .menu .plats-infos-coche .infos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .plats-infos-coche .infos1 h4, .menu .plats-infos-coche .infos2 h4, .menu .plats-infos-coche .infos3 h4 {
  margin: 0;
  padding: 0.7em;
}

.menu .plats-infos-coche .infos1 .compo-prix, .menu .plats-infos-coche .infos2 .compo-prix, .menu .plats-infos-coche .infos3 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .plats-infos-coche .infos1 .compo-prix p:first-child, .menu .plats-infos-coche .infos2 .compo-prix p:first-child, .menu .plats-infos-coche .infos3 .compo-prix p:first-child {
  font-size: 0.87em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
}

.menu .plats-infos-coche .infos1 .compo-prix p, .menu .plats-infos-coche .infos2 .compo-prix p, .menu .plats-infos-coche .infos3 .compo-prix p {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .plats-infos-coche .infos1 .compo-prix p:last-child, .menu .plats-infos-coche .infos2 .compo-prix p:last-child, .menu .plats-infos-coche .infos3 .compo-prix p:last-child {
  font-weight: bold;
}

.menu .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .desserts label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .desserts [id="coche-infos1-desserts"],
.menu .desserts [id="coche-infos2-desserts"],
.menu .desserts [id="coche-infos3-desserts"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .coche,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .coche,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .coche i,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .coche i,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .compo-prix,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .compo-prix,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .desserts-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .desserts-infos-coche .infos1 {
  /*-----Apparition des différants desserts décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 1700ms both;
          animation: apparaitre 500ms 1700ms both;
}

.menu .desserts-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 1900ms both;
          animation: apparaitre 500ms 1900ms both;
}

.menu .desserts-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 2100ms both;
          animation: apparaitre 500ms 2100ms both;
}

.menu .desserts-infos-coche .infos1, .menu .desserts-infos-coche .infos2, .menu .desserts-infos-coche .infos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .desserts-infos-coche .infos1 h4, .menu .desserts-infos-coche .infos2 h4, .menu .desserts-infos-coche .infos3 h4 {
  margin: 0;
  padding: 0.7em;
}

.menu .desserts-infos-coche .infos1 .compo-prix, .menu .desserts-infos-coche .infos2 .compo-prix, .menu .desserts-infos-coche .infos3 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .desserts-infos-coche .infos1 .compo-prix p:first-child, .menu .desserts-infos-coche .infos2 .compo-prix p:first-child, .menu .desserts-infos-coche .infos3 .compo-prix p:first-child {
  font-size: 0.87em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
}

.menu .desserts-infos-coche .infos1 .compo-prix p, .menu .desserts-infos-coche .infos2 .compo-prix p, .menu .desserts-infos-coche .infos3 .compo-prix p {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .desserts-infos-coche .infos1 .compo-prix p:last-child, .menu .desserts-infos-coche .infos2 .compo-prix p:last-child, .menu .desserts-infos-coche .infos3 .compo-prix p:last-child {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a .btn {
  /*-----Bouton-----*/
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 5px 5px #bdbdc8;
          box-shadow: 0px 5px 5px #bdbdc8;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

a .btn:hover {
  /*-----Effets au survol de la sourie-----*/
  opacity: 0.8;
  -webkit-box-shadow: 0px 7px 5px 2px #bdbdc8;
          box-shadow: 0px 7px 5px 2px #bdbdc8;
}

footer {
  /*-----Footer-----*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #414141;
  color: white;
  padding-left: 1.7em;
}

footer h3 {
  font-family: "shrikhand";
  font-weight: normal;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: white;
  margin-bottom: 0.3em;
}

footer a i {
  font-size: 0.8em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.3em;
}

footer a p {
  margin-top: 0em;
  margin-bottom: 0em;
}

footer .propo-restau i {
  padding-right: 1.5em;
}

footer .partenaire i {
  padding-right: 1em;
}
/*# sourceMappingURL=styles1.css.map */