@charset "UTF-8";
/* Document de style CSS */
/*-----Variables-----*/
@-webkit-keyframes apparaitre {
  /*-----Keyframes-----*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparaitre {
  /*-----Keyframes-----*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reduc-div {
  0% {
    width: 19.5em;
  }
  100% {
    width: 15.5em;
  }
}

@keyframes reduc-div {
  0% {
    width: 19.5em;
  }
  100% {
    width: 15.5em;
  }
}

@-webkit-keyframes coche {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes coche {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes coche-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes coche-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes coeur {
  0% {
    color: white;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes coeur {
  0% {
    color: white;
  }
  100% {
    color: #FF79DA;
  }
}

/* ---------- Principaux styles de la page ---------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: black;
}

body h1 {
  font-family: "Shrikhand";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-left: -1.5em;
}

header {
  /*-----Header-----*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  color: black;
  font-size: 1.5em;
  padding-top: 1.4em;
  padding-left: 1em;
  z-index: 1;
}

.photo {
  /*-----Section principale de la page (Main)-----*/
  position: relative;
  overflow: hidden;
  padding-top: 65%;
}

.photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 185%;
}

.menu {
  /*-----partie principale (section) : menu-----*/
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -4em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.menu .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .restaurant h2 {
  font-family: "Shrikhand";
  font-size: 1.55em;
}

.menu .restaurant .checkbox-coeur {
  display: block;
  margin-top: 1.5em;
  margin-left: 2em;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  z-index: 1;
}

.menu .restaurant .checkbox-coeur i {
  font-size: 1.5em;
}

.menu .restaurant .checkbox-coeur .remplissage1 {
  /*----Div de remplissage (sans l'état ":checked")-----*/
  -webkit-transition: all 1000ms linear 0ms;
  transition: all 1000ms linear 0ms;
  position: absolute;
  background-color: #FF79DA;
  height: 0em;
  width: 0em;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.5em;
  right: 0.5em;
  border-top-left-radius: 55%;
  border-top-right-radius: 30%;
}

.menu .restaurant .checkbox-coeur .remplissage2 {
  /*----Div de remplissage (sans l'état ":checked")-----*/
  -webkit-transition: all 1000ms linear 0ms;
  transition: all 1000ms linear 0ms;
  position: absolute;
  background-color: #FF79DA;
  height: 0em;
  width: 0em;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0.5em;
  left: 0.5em;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"] {
  /*-----Animation icone coeur-----*/
  display: none;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"]:checked + label .remplissage1 {
  height: 0.8em;
  width: 0.5em;
  z-index: -1;
  bottom: 0.15em;
  right: 0.39em;
}

.menu .restaurant .checkbox-coeur [id="coeur-checkbox"]:checked + label .remplissage2 {
  height: 0.72em;
  width: 0.5em;
  z-index: -1;
  bottom: 0.2em;
  left: 0.4em;
}

.menu h3 {
  text-transform: uppercase;
  font-weight: normal;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1em;
  font-size: 1em;
  color: #4B4B4B;
}

.menu h3 span {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 0.2em;
}

.menu .coche {
  /*-----Coche (pour animation)-----*/
  display: none;
  margin-left: -4em;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 1em;
  width: 4em;
  height: 4.5em;
}

.menu .coche i {
  margin: auto;
  color: white;
  font-size: 2em;
}

.menu .entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .entrees label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .entrees [id="coche-infos1-entrees"],
.menu .entrees [id="coche-infos2-entrees"],
.menu .entrees [id="coche-infos3-entrees"],
.menu .entrees [id="coche-infos4-entrees"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .coche,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .coche,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .coche,
.menu .entrees [id="coche-infos4-entrees"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .coche i,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .coche i,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .coche i,
.menu .entrees [id="coche-infos4-entrees"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .entrees [id="coche-infos1-entrees"]:checked + label .nom, .menu .entrees [id="coche-infos1-entrees"]:checked + label .compo-prix,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .nom,
.menu .entrees [id="coche-infos2-entrees"]:checked + label .compo-prix,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .nom,
.menu .entrees [id="coche-infos3-entrees"]:checked + label .compo-prix,
.menu .entrees [id="coche-infos4-entrees"]:checked + label .nom,
.menu .entrees [id="coche-infos4-entrees"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .entrees-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .entrees-infos-coche .infos1 {
  /*-----Apparition des différantes entrées décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 500ms both;
          animation: apparaitre 500ms 500ms both;
}

.menu .entrees-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 700ms both;
          animation: apparaitre 500ms 700ms both;
}

.menu .entrees-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 900ms both;
          animation: apparaitre 500ms 900ms both;
}

.menu .entrees-infos-coche .infos4 {
  -webkit-animation: apparaitre 500ms 1100ms both;
          animation: apparaitre 500ms 1100ms both;
}

.menu .entrees-infos-coche .infos1, .menu .entrees-infos-coche .infos2, .menu .entrees-infos-coche .infos3, .menu .entrees-infos-coche .infos4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .entrees-infos-coche .infos1 .nom, .menu .entrees-infos-coche .infos2 .nom, .menu .entrees-infos-coche .infos3 .nom, .menu .entrees-infos-coche .infos4 .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .entrees-infos-coche .infos1 .nom .nom-texte, .menu .entrees-infos-coche .infos2 .nom .nom-texte, .menu .entrees-infos-coche .infos3 .nom .nom-texte, .menu .entrees-infos-coche .infos4 .nom .nom-texte {
  margin: 0;
  padding: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .entrees-infos-coche .infos1 .compo-prix, .menu .entrees-infos-coche .infos2 .compo-prix, .menu .entrees-infos-coche .infos3 .compo-prix, .menu .entrees-infos-coche .infos4 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .entrees-infos-coche .infos1 .compo-prix .compo, .menu .entrees-infos-coche .infos2 .compo-prix .compo, .menu .entrees-infos-coche .infos3 .compo-prix .compo, .menu .entrees-infos-coche .infos4 .compo-prix .compo {
  font-size: 0.78em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .entrees-infos-coche .infos1 .compo-prix .prix, .menu .entrees-infos-coche .infos2 .compo-prix .prix, .menu .entrees-infos-coche .infos3 .compo-prix .prix, .menu .entrees-infos-coche .infos4 .compo-prix .prix {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
  font-weight: bold;
}

.menu .plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .plats label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .plats [id="coche-infos1-plats"],
.menu .plats [id="coche-infos2-plats"],
.menu .plats [id="coche-infos3-plats"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .plats [id="coche-infos1-plats"]:checked + label .coche,
.menu .plats [id="coche-infos2-plats"]:checked + label .coche,
.menu .plats [id="coche-infos3-plats"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .plats [id="coche-infos1-plats"]:checked + label .coche i,
.menu .plats [id="coche-infos2-plats"]:checked + label .coche i,
.menu .plats [id="coche-infos3-plats"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .plats [id="coche-infos1-plats"]:checked + label .nom, .menu .plats [id="coche-infos1-plats"]:checked + label .compo-prix,
.menu .plats [id="coche-infos2-plats"]:checked + label .nom,
.menu .plats [id="coche-infos2-plats"]:checked + label .compo-prix,
.menu .plats [id="coche-infos3-plats"]:checked + label .nom,
.menu .plats [id="coche-infos3-plats"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .plats-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .plats-infos-coche .infos1 {
  /*-----Apparition des différants plats décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 1300ms both;
          animation: apparaitre 500ms 1300ms both;
}

.menu .plats-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 1500ms both;
          animation: apparaitre 500ms 1500ms both;
}

.menu .plats-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 1700ms both;
          animation: apparaitre 500ms 1700ms both;
}

.menu .plats-infos-coche .infos1, .menu .plats-infos-coche .infos2, .menu .plats-infos-coche .infos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .plats-infos-coche .infos1 .nom, .menu .plats-infos-coche .infos2 .nom, .menu .plats-infos-coche .infos3 .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .plats-infos-coche .infos1 .nom .nom-texte, .menu .plats-infos-coche .infos2 .nom .nom-texte, .menu .plats-infos-coche .infos3 .nom .nom-texte {
  margin: 0;
  padding: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .plats-infos-coche .infos1 .compo-prix, .menu .plats-infos-coche .infos2 .compo-prix, .menu .plats-infos-coche .infos3 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .plats-infos-coche .infos1 .compo-prix .compo, .menu .plats-infos-coche .infos2 .compo-prix .compo, .menu .plats-infos-coche .infos3 .compo-prix .compo {
  font-size: 0.78em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .plats-infos-coche .infos1 .compo-prix .prix, .menu .plats-infos-coche .infos2 .compo-prix .prix, .menu .plats-infos-coche .infos3 .compo-prix .prix {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
  font-weight: bold;
}

.menu .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .desserts label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .desserts [id="coche-infos1-desserts"],
.menu .desserts [id="coche-infos2-desserts"],
.menu .desserts [id="coche-infos3-desserts"] {
  display: none;
  /*-----Mixins-----*/
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .coche,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .coche,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .coche {
  display: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: coche 500ms forwards;
          animation: coche 500ms forwards;
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .coche i,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .coche i,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .coche i {
  -webkit-animation: coche-rotation 500ms forwards;
          animation: coche-rotation 500ms forwards;
}

.menu .desserts [id="coche-infos1-desserts"]:checked + label .nom, .menu .desserts [id="coche-infos1-desserts"]:checked + label .compo-prix,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .nom,
.menu .desserts [id="coche-infos2-desserts"]:checked + label .compo-prix,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .nom,
.menu .desserts [id="coche-infos3-desserts"]:checked + label .compo-prix {
  -webkit-animation: reduc-div 500ms forwards;
          animation: reduc-div 500ms forwards;
}

.menu .desserts-infos-coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .desserts-infos-coche .infos1 {
  /*-----Apparition des différants desserts décalée dans le temps-----*/
  -webkit-animation: apparaitre 500ms 1900ms both;
          animation: apparaitre 500ms 1900ms both;
}

.menu .desserts-infos-coche .infos2 {
  -webkit-animation: apparaitre 500ms 2100ms both;
          animation: apparaitre 500ms 2100ms both;
}

.menu .desserts-infos-coche .infos3 {
  -webkit-animation: apparaitre 500ms 2300ms both;
          animation: apparaitre 500ms 2300ms both;
}

.menu .desserts-infos-coche .infos1, .menu .desserts-infos-coche .infos2, .menu .desserts-infos-coche .infos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19.5em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
}

.menu .desserts-infos-coche .infos1 .nom, .menu .desserts-infos-coche .infos2 .nom, .menu .desserts-infos-coche .infos3 .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .desserts-infos-coche .infos1 .nom .nom-texte, .menu .desserts-infos-coche .infos2 .nom .nom-texte, .menu .desserts-infos-coche .infos3 .nom .nom-texte {
  margin: 0;
  padding: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .desserts-infos-coche .infos1 .compo-prix, .menu .desserts-infos-coche .infos2 .compo-prix, .menu .desserts-infos-coche .infos3 .compo-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .desserts-infos-coche .infos1 .compo-prix .compo, .menu .desserts-infos-coche .infos2 .compo-prix .compo, .menu .desserts-infos-coche .infos3 .compo-prix .compo {
  font-size: 0.78em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4B4B4B;
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.menu .desserts-infos-coche .infos1 .compo-prix .prix, .menu .desserts-infos-coche .infos2 .compo-prix .prix, .menu .desserts-infos-coche .infos3 .compo-prix .prix {
  margin: 0;
  padding-left: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.7em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a .btn {
  /*-----Bouton-----*/
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 5px 5px #bdbdc8;
          box-shadow: 0px 5px 5px #bdbdc8;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

a .btn:hover {
  /*-----Effets au survol de la sourie-----*/
  opacity: 0.8;
  -webkit-box-shadow: 0px 7px 5px 2px #bdbdc8;
          box-shadow: 0px 7px 5px 2px #bdbdc8;
}

footer {
  /*-----Footer-----*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #414141;
  color: white;
  padding-left: 1em;
}

footer h3 {
  font-family: "shrikhand";
  font-weight: normal;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: white;
  margin-bottom: 0.4em;
}

footer a:last-child {
  margin-bottom: 1.2em;
}

footer a i {
  font-size: 0.8em;
  padding-top: 0.3em;
}

footer a p {
  margin-top: 0em;
  margin-bottom: 0em;
}

footer .propo-restau a {
  margin-bottom: 0.4em;
}

footer .propo-restau a i {
  padding-right: 1em;
}

footer .partenaire a {
  margin-bottom: 0.4em;
}

footer .partenaire a i {
  padding-right: 0.6em;
}

/*--------------Responsive design - I-Phone 8 (min-width 375px)-------------*/
/*--------------------------------------------------------------------------*/
@media all and (min-width: 375px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 21.5em;
    }
    100% {
      width: 17.5em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 21.5em;
    }
    100% {
      width: 17.5em;
    }
  }
  .menu .restaurant h2 {
    font-size: 1.8em;
    margin-left: -0.7em;
  }
  .menu .restaurant .checkbox-coeur {
    margin-top: 2em;
  }
  .menu .entrees .infos1, .menu .entrees .infos2, .menu .entrees .infos3, .menu .entrees .infos4, .menu .plats .infos1, .menu .plats .infos2, .menu .plats .infos3, .menu .plats .infos4, .menu .desserts .infos1, .menu .desserts .infos2, .menu .desserts .infos3, .menu .desserts .infos4 {
    width: 21.5em;
  }
  .menu .entrees .infos1 .compo-prix .compo, .menu .entrees .infos2 .compo-prix .compo, .menu .entrees .infos3 .compo-prix .compo, .menu .entrees .infos4 .compo-prix .compo, .menu .plats .infos1 .compo-prix .compo, .menu .plats .infos2 .compo-prix .compo, .menu .plats .infos3 .compo-prix .compo, .menu .plats .infos4 .compo-prix .compo, .menu .desserts .infos1 .compo-prix .compo, .menu .desserts .infos2 .compo-prix .compo, .menu .desserts .infos3 .compo-prix .compo, .menu .desserts .infos4 .compo-prix .compo {
    font-size: 0.87em;
  }
}

/*----------Responsive design - Mobiles - paysage (min-width 568px)-----------*/
/*----------------------------------------------------------------------------*/
@media all and (min-width: 568px) {
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0em;
  }
  footer .liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*---------------Responsive design - I-Pad (min-width 768px)---------------*/
/*-------------------------------------------------------------------------*/
@media all and (min-width: 768px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 29em;
    }
    100% {
      width: 24.5em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 29em;
    }
    100% {
      width: 24.5em;
    }
  }
  header h1 {
    font-size: 3em;
  }
  header a {
    padding-top: 1.9em;
  }
  header i {
    font-size: 2em;
  }
  .menu .restaurant h2 {
    font-size: 2.3em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 1.5em;
    margin-top: 1.5em;
  }
  .menu .carte h3 {
    font-size: 1.4em;
  }
  .menu .carte .coche {
    margin-left: -4.5em;
    width: 4.5em;
    height: 5.3em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 29em;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 1.2em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 1.2em;
  }
  a .btn {
    font-size: 1.2em;
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0em;
  }
  footer h3 {
    font-size: 2em;
  }
  footer .liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .liens .propo-restau i, footer .liens .partenaire i {
    font-size: 1.5em;
  }
  footer .liens a p {
    font-size: 1.5em;
  }
}

/*---------------Responsive design - Desktop mini (min-width 1280px)---------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1280px) {
  footer h3 {
    font-size: 2.5em;
  }
}

/*---------------Responsive design - Desktop mini + (min-width 1366px)---------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1366px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 40em;
    }
    100% {
      width: 34.5em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 40em;
    }
    100% {
      width: 34.5em;
    }
  }
  header h1 {
    font-size: 3.5em;
  }
  header a {
    padding-top: 2em;
  }
  header i {
    font-size: 2.5em;
  }
  .menu .restaurant h2 {
    font-size: 2.8em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 1.7em;
    margin-top: 1.7em;
  }
  .menu .carte h3 {
    font-size: 1.6em;
  }
  .menu .carte .coche {
    margin-left: -5.5em;
    width: 5.5em;
    height: 6.7em;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .menu .carte .coche i {
    font-size: 2.5em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    border-radius: 30px;
    width: 40em;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 1.5em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 1.5em;
  }
  a .btn {
    font-size: 1.7em;
  }
  footer h3 {
    font-size: 3em;
  }
  footer a {
    font-size: 1.5em;
  }
}

/*------------------Responsive design - Desktop (min-width 1440px)-------------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1440px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 29em;
    }
    100% {
      width: 24.5em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 29em;
    }
    100% {
      width: 24.5em;
    }
  }
  .menu .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu .carte h3 {
    font-size: 1.3em;
  }
  .menu .carte .coche {
    margin-left: -4.5em;
    width: 4.5em;
    height: 5.3em;
  }
  .menu .carte .coche i {
    font-size: 2em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 29em;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 1.2em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 1.2em;
  }
  a .btn {
    font-size: 1.4em;
  }
  footer {
    padding-left: 0em;
  }
  footer h3 {
    text-align: center;
    font-size: 2.5em;
  }
  footer .liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5em;
  }
  footer .liens .propo-restau i, footer .liens .partenaire i {
    font-size: 1em;
  }
  footer .liens a {
    margin-right: 5em;
    margin-bottom: 0em;
  }
  footer .liens a p {
    font-size: 1em;
  }
  footer .liens a i {
    padding-top: 0em;
  }
}

/*------------------Responsive design - Desktop big (min-width 1920px)-------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 1920px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 35em;
    }
    100% {
      width: 30em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 35em;
    }
    100% {
      width: 30em;
    }
  }
  header h1 {
    font-size: 4em;
  }
  header a {
    padding-top: 2.5em;
  }
  header i {
    font-size: 3em;
  }
  .menu .restaurant h2 {
    font-size: 3.2em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 2em;
    margin-top: 1.7em;
  }
  .menu .carte h3 {
    font-size: 1.6em;
  }
  .menu .carte .coche {
    margin-left: -5em;
    width: 5em;
    height: 6.2em;
  }
  .menu .carte .coche i {
    font-size: 2.3em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 35em;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 1.4em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 1.4em;
  }
  a .btn {
    font-size: 1.7em;
  }
}

/*------------------Responsive design - Desktop big + (min-width 2560px)-----------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 2560px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 48em;
    }
    100% {
      width: 41em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 48em;
    }
    100% {
      width: 41em;
    }
  }
  header h1 {
    font-size: 5em;
  }
  header a {
    padding-top: 3.5em;
  }
  header i {
    font-size: 3em;
  }
  .menu .restaurant h2 {
    font-size: 4em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 2.5em;
  }
  .menu .carte h3 {
    font-size: 1.9em;
  }
  .menu .carte .coche {
    margin-left: -7em;
    width: 7em;
    height: 9em;
  }
  .menu .carte .coche i {
    font-size: 3.3em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 48em;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 2em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 2em;
  }
  a .btn {
    font-size: 2.2em;
  }
  footer h3 {
    font-size: 4em;
  }
  footer a {
    font-size: 2.5em;
  }
}

/*-----------------------Responsive design - TV (min-width 2900px)-----------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 2900px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 55em;
    }
    100% {
      width: 47em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 55em;
    }
    100% {
      width: 47em;
    }
  }
  header h1 {
    font-size: 6em;
  }
  header a {
    padding-top: 4em;
  }
  header i {
    font-size: 4em;
  }
  .menu .restaurant h2 {
    font-size: 4.5em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 3em;
    margin-top: 1.4em;
  }
  .menu .carte h3 {
    font-size: 2.9em;
  }
  .menu .carte .coche {
    margin-left: -8em;
    width: 8em;
    height: 9.9em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .menu .carte .coche i {
    font-size: 3.7em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 55em;
    border-radius: 50px;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 2.2em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 2.2em;
  }
  a .btn {
    font-size: 2.6em;
    border-radius: 50px;
  }
  footer h3 {
    font-size: 4em;
  }
  footer a {
    font-size: 3em;
  }
}

/*---------------------Responsive design - TV 4K (min-width 3550px)----------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 3550px) {
  @-webkit-keyframes reduc-div {
    0% {
      width: 65em;
    }
    100% {
      width: 55em;
    }
  }
  @keyframes reduc-div {
    0% {
      width: 65em;
    }
    100% {
      width: 55em;
    }
  }
  header h1 {
    font-size: 9em;
  }
  header a {
    padding-top: 6em;
  }
  header i {
    font-size: 5.5em;
  }
  .menu .restaurant h2 {
    font-size: 6.5em;
  }
  .menu .restaurant .checkbox-coeur {
    font-size: 3.5em;
    margin-top: 2em;
  }
  .menu .carte h3 {
    font-size: 4em;
  }
  .menu .carte .coche {
    margin-left: -10em;
    width: 10em;
    height: 12.1em;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .menu .carte .coche i {
    font-size: 5em;
  }
  .menu .carte .entrees .infos1, .menu .carte .entrees .infos2, .menu .carte .entrees .infos3, .menu .carte .entrees .infos4, .menu .carte .plats .infos1, .menu .carte .plats .infos2, .menu .carte .plats .infos3, .menu .carte .plats .infos4, .menu .carte .desserts .infos1, .menu .carte .desserts .infos2, .menu .carte .desserts .infos3, .menu .carte .desserts .infos4 {
    width: 65em;
    border-radius: 60px;
  }
  .menu .carte .entrees .infos1 .nom, .menu .carte .entrees .infos2 .nom, .menu .carte .entrees .infos3 .nom, .menu .carte .entrees .infos4 .nom, .menu .carte .plats .infos1 .nom, .menu .carte .plats .infos2 .nom, .menu .carte .plats .infos3 .nom, .menu .carte .plats .infos4 .nom, .menu .carte .desserts .infos1 .nom, .menu .carte .desserts .infos2 .nom, .menu .carte .desserts .infos3 .nom, .menu .carte .desserts .infos4 .nom {
    font-size: 2.7em;
  }
  .menu .carte .entrees .infos1 .compo-prix .compo, .menu .carte .entrees .infos1 .compo-prix .prix, .menu .carte .entrees .infos2 .compo-prix .compo, .menu .carte .entrees .infos2 .compo-prix .prix, .menu .carte .entrees .infos3 .compo-prix .compo, .menu .carte .entrees .infos3 .compo-prix .prix, .menu .carte .entrees .infos4 .compo-prix .compo, .menu .carte .entrees .infos4 .compo-prix .prix, .menu .carte .plats .infos1 .compo-prix .compo, .menu .carte .plats .infos1 .compo-prix .prix, .menu .carte .plats .infos2 .compo-prix .compo, .menu .carte .plats .infos2 .compo-prix .prix, .menu .carte .plats .infos3 .compo-prix .compo, .menu .carte .plats .infos3 .compo-prix .prix, .menu .carte .plats .infos4 .compo-prix .compo, .menu .carte .plats .infos4 .compo-prix .prix, .menu .carte .desserts .infos1 .compo-prix .compo, .menu .carte .desserts .infos1 .compo-prix .prix, .menu .carte .desserts .infos2 .compo-prix .compo, .menu .carte .desserts .infos2 .compo-prix .prix, .menu .carte .desserts .infos3 .compo-prix .compo, .menu .carte .desserts .infos3 .compo-prix .prix, .menu .carte .desserts .infos4 .compo-prix .compo, .menu .carte .desserts .infos4 .compo-prix .prix {
    font-size: 2.7em;
  }
  a .btn {
    font-size: 3.2em;
    border-radius: 60px;
  }
  footer h3 {
    font-size: 5.5em;
  }
  footer a {
    font-size: 4em;
  }
}
/*# sourceMappingURL=styles2.css.map */