/* Document de style CSS */

$couleur-primaire: #9356DC;   /*-----Variables-----*/
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$bgc-grey: #f9f9f9;
$c-grey:#4B4B4B;
$box-shadow-infos: 5px 5px 5px #f2f2f2;

@mixin checkbox-coche {    /*-----Mixins-----*/
    &:checked + label {
        .coche{
            display: inherit;
            transform-origin: right;
            animation: coche 500ms forwards;
            i{
                animation: coche-rotation 500ms forwards;
            }
        }
        .nom, .compo-prix{
            animation: reduc-div 500ms forwards;
        }
    }
}

@keyframes apparaitre{    /*-----Keyframes-----*/
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes reduc-div{
    0%{
        width: 19.5em;
    }
    100%{
        width: 15.5em;
    }
}
@keyframes coche{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes coche-rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes coeur{
    0%{
        color: white;
    }
    100%{
        color: $couleur-secondaire;
    }
}

/* ---------- Principaux styles de la page ---------- */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: black;
    h1{
        font-family: "Shrikhand";
        flex-grow: 1;
        text-align: center;
        margin-left: -1.5em;
    }
}
header{   /*-----Header-----*/
    display: flex;
    a{
        color: black;
        font-size: 1.5em;
        padding-top: 1.4em;
        padding-left: 1em;
        z-index: 1;
    }
}
.photo{  /*-----Section principale de la page (Main)-----*/
    position: relative;
    overflow: hidden;
    padding-top: 65%;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 185%;
    }
}
.menu{   /*-----partie principale (section) : menu-----*/
    position: relative;
    z-index: 1;
    background-color: $bgc-grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -4em;
    margin-bottom: 0;
    padding-bottom: 1em;
    .restaurant{
        display: flex;
        justify-content: center;
        h2{
            font-family: "Shrikhand";
            font-size: 1.55em;
        }
        .checkbox-coeur{
            display: block;
            margin-top: 1.5em;
            margin-left: 2em;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            z-index: 1;
            i{
                font-size: 1.5em;
            }
            .remplissage1{   /*----Div de remplissage (sans l'état ":checked")-----*/
                transition: all 1000ms linear 0ms;
                position: absolute;
                background-color: #FF79DA;
                height: 0em;
                width: 0em;
                z-index: -1;
                transform: rotate(-45deg);
                bottom: 0.5em;
                right: 0.5em;
                border-top-left-radius: 55%;
                border-top-right-radius: 30%;
            }
            .remplissage2{   /*----Div de remplissage (sans l'état ":checked")-----*/
                transition: all 1000ms linear 0ms;
                position: absolute;
                background-color: #FF79DA;
                height: 0em;
                width: 0em;
                z-index: -1;
                transform: rotate(45deg);
                bottom: 0.5em;
                left: 0.5em;
                border-top-right-radius: 40%;
                border-top-left-radius: 40%;
            }
            [id="coeur-checkbox"]{   /*-----Animation icone coeur-----*/
                display: none;
                &:checked +label{
                    .remplissage1{
                        height: 0.8em;
                        width: 0.5em;
                        z-index: -1;
                        bottom: 0.15em;
                        right: 0.39em;
                    }
                    .remplissage2{
                        height: 0.72em;
                        width: 0.5em;
                        z-index: -1;
                        bottom: 0.2em;
                        left: 0.4em;
                    }
                }
            }
        }
    }
    h3{
        text-transform: uppercase;
        font-weight: normal;
        align-self: flex-start;
        margin-left: 1em;
        font-size: 1em;
        color: $c-grey;
        span{
            border-bottom: 2px solid $couleur-tertiaire;
            padding-bottom: 0.2em;
        }
    }
    .coche{   /*-----Coche (pour animation)-----*/
        display: none;
        margin-left: -4em;
        background-color: $couleur-tertiaire;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 1em;
        width: 4em;
        height: 4.5em;
        i{
            margin: auto;
            color: white;
            font-size: 2em;
        }
    }
    .entrees{
        display: flex;
        label{
            display: flex;
        }
        [id="coche-infos1-entrees"],   /*-----Animation coche-----*/
        [id="coche-infos2-entrees"],
        [id="coche-infos3-entrees"],
        [id="coche-infos4-entrees"]{
            display: none;
            @include checkbox-coche;
        }
    }
    .entrees-infos-coche{
        display: flex;
        flex-direction: column;
        align-items: center;
        .infos1{   /*-----Apparition des différentes entrées décalée dans le temps-----*/
            animation: apparaitre 500ms 500ms forwards;
        }
        .infos2{
            animation: apparaitre 500ms 700ms forwards;
        }
        .infos3{
            animation: apparaitre 500ms 900ms forwards;
        }
        .infos4{
            animation: apparaitre 500ms 1100ms forwards;
        }
        .infos1, .infos2, .infos3, .infos4{
            display: flex;
            flex-direction: column;
            width: 19.5em;
            margin-bottom: 1em;
            background-color: white;
            border-radius: 20px;
            box-shadow: $box-shadow-infos;
            .nom{
                display: flex;
                justify-content: space-between;
                .nom-texte{
                    margin: 0;
                    padding: 0.7em;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .compo-prix{
                display: flex;
                justify-content: space-between;
                .compo{
                    font-size: 0.78em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $c-grey;
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                }
                .prix{
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                    font-weight: bold;
                }
            }
        }
    }
    .plats{
        display: flex;
        label{
            display: flex;
        }
        [id="coche-infos1-plats"],   /*-----Animation coche-----*/
        [id="coche-infos2-plats"],
        [id="coche-infos3-plats"]{
            display: none;
            @include checkbox-coche;
        }
    }
    .plats-infos-coche{
        display: flex;
        flex-direction: column;
        align-items: center;
        .infos1{   /*-----Apparition des différents plats décalée dans le temps-----*/
            animation: apparaitre 500ms 1300ms forwards;
        }
        .infos2{
            animation: apparaitre 500ms 1500ms forwards;
        }
        .infos3{
            animation: apparaitre 500ms 1700ms forwards;
        }
        .infos1, .infos2, .infos3{
            display: flex;
            flex-direction: column;
            width: 19.5em;
            margin-bottom: 1em;
            background-color: white;
            border-radius: 20px;
            box-shadow: $box-shadow-infos;
            .nom{
                display: flex;
                justify-content: space-between;
                .nom-texte{
                    margin: 0;
                    padding: 0.7em;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .compo-prix{
                display: flex;
                justify-content: space-between;
                .compo{
                    font-size: 0.78em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $c-grey;
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                }
                .prix{
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                    font-weight: bold;
                }
            }
        }
    }
    .desserts{
        display: flex;
        label{
            display: flex;
        }
        [id="coche-infos1-desserts"],   /*-----Animation coche-----*/
        [id="coche-infos2-desserts"],
        [id="coche-infos3-desserts"]{
            display: none;
            @include checkbox-coche;
        }
    }
    .desserts-infos-coche{
        display: flex;
        flex-direction: column;
        align-items: center;
        .infos1{   /*-----Apparition des différents desserts décalée dans le temps-----*/
            animation: apparaitre 500ms 1900ms forwards;
        }
        .infos2{
            animation: apparaitre 500ms 2100ms forwards;
        }
        .infos3{
            animation: apparaitre 500ms 2300ms forwards;
        }
        .infos1, .infos2, .infos3{
            display: flex;
            flex-direction: column;
            width: 19.5em;
            margin-bottom: 1em;
            background-color: white;
            border-radius: 20px;
            box-shadow: $box-shadow-infos;
            .nom{
                display: flex;
                justify-content: space-between;
                .nom-texte{
                    margin: 0;
                    padding: 0.7em;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .compo-prix{
                display: flex;
                justify-content: space-between;
                .compo{
                    font-size: 0.78em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $c-grey;
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                }
                .prix{
                    margin: 0;
                    padding-left: 0.7em;
                    padding-right: 1em;
                    padding-bottom: 0.7em;
                    font-weight: bold;
                }
            }
        }
    }
}
a{
    text-decoration: none;
    color: white;
    .btn{     /*-----Bouton-----*/
        border-radius: 25px;
        background: linear-gradient(to top left, $couleur-primaire, $couleur-secondaire);
        box-shadow: 0px 5px 5px #bdbdc8;
        padding: 1em;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
        width: fit-content;
        margin: auto;
        margin-top: 1.5em;
        margin-bottom: 2em;
        &:hover{   /*-----Effets au survol de la sourie-----*/
            opacity: 0.8;
            box-shadow: 0px 7px 5px 2px #bdbdc8;
        }
    }
}
footer{  /*-----Footer-----*/
    display: flex;
    flex-direction: column;
    background-color: #414141;
    color: white;
    padding-left: 1em;
    h3{
        font-family: "shrikhand";
        font-weight: normal;
    }
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        margin-bottom: 0.4em;
        &:last-child{
            margin-bottom: 1.2em;
        }
        i{
            font-size: 0.8em;
            padding-top: 0.3em;
        }
        p{
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }
    .propo-restau a{
        margin-bottom: 0.4em;
        i{
            padding-right: 1em;
        }
    }
    .partenaire a{
            margin-bottom: 0.4em;
        i{
            padding-right: 0.6em;
        }
    }
}
/*--------------Responsive design - I-Phone 8 (min-width 375px)-------------*/
/*--------------------------------------------------------------------------*/
@media all and (min-width: 375px){
    @keyframes reduc-div{
        0%{
            width: 21.5em;
        }
        100%{
            width: 17.5em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 1.8em;
                margin-left: -0.7em;
            }
            .checkbox-coeur{
                margin-top: 2em;
            }
        }
        .entrees, .plats, .desserts{
            .infos1, .infos2, .infos3, .infos4{
                width: 21.5em;
                .compo-prix{
                    .compo{
                        font-size: 0.87em;
                    }
                }
            }
        }
    }
}
/*----------Responsive design - Mobiles - paysage (min-width 568px)-----------*/
/*----------------------------------------------------------------------------*/
@media all and (min-width: 568px){
    footer{
        align-items: center;
        padding-left: 0em;
        .liens{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
/*---------------Responsive design - I-Pad (min-width 768px)---------------*/
/*-------------------------------------------------------------------------*/
@media all and (min-width: 768px){
    @keyframes reduc-div{
        0%{
            width: 29em;
        }
        100%{
            width: 24.5em;
        }
    }
    header{
        h1{
            font-size: 3em;
        }
        a{
            padding-top: 1.9em;
        }
        i{
            font-size: 2em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 2.3em;
            }
            .checkbox-coeur{
                font-size: 1.5em;
                margin-top: 1.5em;
            }
        }
        .carte{
            h3{
                font-size: 1.4em;
            }
            .coche{
                margin-left: -4.5em;
                width: 4.5em;
                height: 5.3em;
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 29em;
                    .nom{
                        font-size: 1.2em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 1.2em;
        }
    }
    footer{
        align-items: center;
        padding-left: 0em;
        h3{
            font-size: 2em;
        }
        .liens{
            display: flex;
            flex-direction: column;
            align-items: center;
            .propo-restau i, .partenaire i{
                font-size: 1.5em;
            }
            a{
                p{
                    font-size: 1.5em;
                }
            }
        }
    }
}
/*---------------Responsive design - Desktop mini (min-width 1280px)---------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1280px){
    footer{
        h3{
            font-size: 2.5em;
        }
    }
}

/*---------------Responsive design - Desktop mini + (min-width 1366px)---------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1366px){
    @keyframes reduc-div{
        0%{
            width: 40em;
        }
        100%{
            width: 34.5em;
        }
    }
    header{
        h1{
            font-size: 3.5em;
        }
        a{
            padding-top: 2em;
        }
        i{
            font-size: 2.5em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 2.8em;
            }
            .checkbox-coeur{
                font-size: 1.7em;
                margin-top: 1.7em;
            }
        }
        .carte{
            h3{
                font-size: 1.6em;
            }
            .coche{
                margin-left: -5.5em;
                width: 5.5em;
                height: 6.7em;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                i{
                    font-size: 2.5em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    border-radius: 30px;
                    width: 40em;
                    .nom{
                        font-size: 1.5em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 1.7em;
        }
    }
    footer{
        h3{
            font-size: 3em;
        }
        a{
            font-size: 1.5em;
        }
    }
}
/*------------------Responsive design - Desktop (min-width 1440px)-------------------*/
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1440px){
    @keyframes reduc-div{
        0%{
            width: 29em;
        }
        100%{
            width: 24.5em;
        }
    }
    .menu{
        .carte{
            display: flex;
            justify-content: space-around;
            h3{
                font-size: 1.3em;
            }
            .coche{
                margin-left: -4.5em;
                width: 4.5em;
                height: 5.3em;
                i{
                    font-size: 2em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 29em;
                    .nom{
                        font-size: 1.2em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 1.4em;
        }
    }
    footer{
        padding-left: 0em;
        h3{
            text-align: center;
            font-size: 2.5em;
        }
        .liens{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 1.5em;
            .propo-restau i, .partenaire i{
                font-size: 1em;
            }
            a{
                margin-right: 5em;
                margin-bottom: 0em;
                p{
                    font-size: 1em;
                }
                i{
                    padding-top: 0em;
                }
            }
        }
    }
}
/*------------------Responsive design - Desktop big (min-width 1920px)-------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 1920px){
    @keyframes reduc-div{
        0%{
            width: 35em;
        }
        100%{
            width: 30em;
        }
    }
    header{
        h1{
            font-size: 4em;
        }
        a{
            padding-top: 2.5em;
        }
        i{
            font-size: 3em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 3.2em;
            }
            .checkbox-coeur{
                font-size: 2em;
                margin-top: 1.7em;
            }
        }
        .carte{
            h3{
                font-size: 1.6em;
            }
            .coche{
                margin-left: -5em;
                width: 5em;
                height: 6.2em;
                i{
                    font-size: 2.3em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 35em;
                    .nom{
                        font-size: 1.4em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 1.7em;
        }
    }
}
/*------------------Responsive design - Desktop big + (min-width 2560px)-----------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 2560px){
    @keyframes reduc-div{
        0%{
            width: 48em;
        }
        100%{
            width: 41em;
        }
    }
    header{
        h1{
            font-size: 5em;
        }
        a{
            padding-top: 3.5em;
        }
        i{
            font-size: 3em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 4em;
            }
            .checkbox-coeur{
                font-size: 2.5em;
            }
        }
        .carte{
            h3{
                font-size: 1.9em;
            }
            .coche{
                margin-left: -7em;
                width: 7em;
                height: 9em;
                i{
                    font-size: 3.3em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 48em;
                    .nom{
                        font-size: 2em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 2.2em;
        }
    }
    footer{
        h3{
            font-size: 4em;
        }
        a{
            font-size: 2.5em;
        }
    }
}
/*-----------------------Responsive design - TV (min-width 2900px)-----------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 2900px){
    @keyframes reduc-div{
        0%{
            width: 55em;
        }
        100%{
            width: 47em;
        }
    }
    header{
        h1{
            font-size: 6em;
        }
        a{
            padding-top: 4em;
        }
        i{
            font-size: 4em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 4.5em;
            }
            .checkbox-coeur{
                font-size: 3em;
                margin-top: 1.4em;
            }
        }
        .carte{
            h3{
                font-size: 2.9em;
            }
            .coche{
                margin-left: -8em;
                width: 8em;
                height: 9.9em;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                i{
                    font-size: 3.7em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 55em;
                    border-radius: 50px;
                    .nom{
                        font-size: 2.2em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 2.2em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 2.6em;
            border-radius: 50px;
        }
    }
    footer{
        h3{
            font-size: 4em;
        }
        a{
            font-size: 3em;
        }
    }
}
/*---------------------Responsive design - TV 4K (min-width 3550px)----------------------*/
/*---------------------------------------------------------------------------------------*/
@media all and (min-width: 3550px){
    @keyframes reduc-div{
        0%{
            width: 65em;
        }
        100%{
            width: 55em;
        }
    }
    header{
        h1{
            font-size: 9em;
        }
        a{
            padding-top: 6em;
        }
        i{
            font-size: 5.5em;
        }
    }
    .menu{
        .restaurant{
            h2{
                font-size: 6.5em;
            }
            .checkbox-coeur{
                font-size: 3.5em;
                margin-top: 2em;
            }
        }
        .carte{
            h3{
                font-size: 4em;
            }
            .coche{
                margin-left: -10em;
                width: 10em;
                height: 12.1em;
                border-top-right-radius: 60px;
                border-bottom-right-radius: 60px;
                i{
                    font-size: 5em;
                }
            }
            .entrees, .plats, .desserts{
                .infos1, .infos2, .infos3, .infos4{
                    width: 65em;
                    border-radius: 60px;
                    .nom{
                        font-size: 2.7em;
                    }
                    .compo-prix{
                        .compo, .prix{
                            font-size: 2.7em;
                        }
                    }
                }
            }
        }
    }
    a{
        .btn{
            font-size: 3.2em;
            border-radius: 60px;
        }
    }
    footer{
        h3{
            font-size: 5.5em;
        }
        a{
            font-size: 4em;
        }
    }
}