/* Document de style CSS */
/* ---------- Principaux styles de la page ---------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: black;
}

body h1 {
  font-family: "Shrikhand";
  -webkit-box-shadow: 0px 7px 10px #e6e4e4;
          box-shadow: 0px 7px 10px #e6e4e4;
  margin-bottom: 0.17em;
}

header {
  text-align: center;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F2F2;
}

.localisation i {
  padding-top: 1em;
  padding-right: 1em;
}

.explor-restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
}

.explor-restau h2, .explor-restau p {
  text-align: center;
}

.explor-restau h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.explor-restau p {
  margin-top: 0em;
  margin-bottom: 0em;
  color: #4b4b4b;
}

.explor-restau .btn {
  color: white;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px #bdbdc8;
          box-shadow: 5px 5px 5px #bdbdc8;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.fonctionnement h2 {
  margin-top: 1.6em;
  padding-left: 0.65em;
}

.num1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20.7em;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
  background-color: #f9f9f9;
  margin-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.num1 :first-child {
  text-align: center;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  width: 1.2em;
  margin-right: 1.4em;
  margin-left: -1.7em;
}

.num1 i {
  color: grey;
  padding-top: 1em;
  margin-right: 1.4em;
}

.num1 :last-child {
  margin-right: 4.4em;
  font-weight: bold;
}

.num2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20.7em;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
  background-color: #f9f9f9;
  margin-left: 1.5em;
  margin-top: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.num2 :first-child {
  text-align: center;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  width: 1.2em;
  margin-right: 1.4em;
  margin-left: -2.3em;
}

.num2 i {
  color: grey;
  padding-top: 1em;
  margin-right: 1.4em;
}

.num2 :last-child {
  margin-right: 4.4em;
  font-weight: bold;
}

.num3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20.7em;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #f2f2f2;
          box-shadow: 5px 5px 5px #f2f2f2;
  background-color: #f2e6fe;
  margin-left: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 4em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.num3 :first-child {
  text-align: center;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  width: 1.2em;
  margin-right: 1.4em;
  margin-left: -1.7em;
}

.num3 i {
  color: #9356DC;
  padding-top: 1em;
  margin-right: 1.4em;
}

.num3 :last-child {
  margin-right: 4.4em;
  font-weight: bold;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
}

.restaurants a {
  text-decoration: none;
  color: inherit;
}

.restaurants h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 0.65em;
  padding-top: 1.6em;
  padding-bottom: 0.3em;
}

.restaurants h3 {
  font-weight: bold;
  padding-left: 0.65em;
  margin-bottom: 0em;
}

.restaurants p {
  padding-left: 0.75em;
  margin-top: 0.3em;
}

.restaurants .photo {
  position: relative;
  overflow: hidden;
  width: 21.5em;
  padding-top: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants .photo .sticker {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  background-color: #99E2D0;
  color: #0f9a77;
  font-weight: bold;
}

.restaurants .photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.restaurants .infos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restaurants .coeur {
  position: absolute;
  left: 18.5em;
  top: 2em;
}

.restaurants .coeur .plein {
  display: none;
}

.restaurants .coeur:active .vide {
  display: none;
}

.restaurants .coeur:active .plein {
  display: inherit;
}

.restaurants .coeur i {
  font-size: 1.5em;
}

.palette-gout, .note-enchantee, .francaise, .delice-sens {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 7px 10px #e6e4e4;
          box-shadow: 0px 7px 10px #e6e4e4;
  border-radius: 20px;
}

.note-enchantee .photo img {
  height: 225%;
}

.delice-sens {
  margin-bottom: 4em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #414141;
  color: white;
  padding-left: 1.7em;
}

footer h3 {
  font-family: "shrikhand";
  font-weight: normal;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: white;
  margin-bottom: 0.3em;
}

footer a i {
  font-size: 0.8em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.3em;
}

footer a p {
  margin-top: 0em;
  margin-bottom: 0em;
}

footer .propo-restau i {
  padding-right: 1.5em;
}

footer .partenaire i {
  padding-right: 1em;
}
/*# sourceMappingURL=styles.css.map */